<div class="max-w-full bg-white mx-auto overflow-hidden h-screen shadow-md">
  <header class="bg-emerald-800 text-white p-6 flex items-center justify-between h-1/6">
    <h1 class="text-3xl"><i class="fab fa-rocketchat"></i> WEB SOCKET</h1>
    <a href="/" id="leave-room" class="py-2 px-4 bg-emerald-50 text-emerald-800 rounded-xl shadow-md">Thoát</a>
  </header>
  <main class="grid grid-cols-4 h-4/6">
    <div class="bg-emerald-100 text-emerald-800 p-4 overflow-auto h-full bg-opacity-80">
      <h3><i class="fas fa-comments"></i> Tên phòng:</h3>
      <h2 id="room-name" class="text-xl font-semibold py-3 px-8 uppercase"></h2>
      <h3><i class="fas fa-users"></i> Thành viên</h3>
      <ul id="users" class="p-3 font-semibold">
      </ul>
    </div>
    <div class="chat-messages py-8 overflow-auto col-span-3 h-full">
    </div>
  </main>
  <div class="chat-form-container py-8 px-6 bg-emerald-800 h-1/6">
    <form id="chat-form" class="flex space-x-2">
      <input
        class="msg-input p-2 h-10 flex-1 rounded-xl focus:outline-none border focus:border-emerald-200 focus:shadow-lg"
        id="msg"
        type="text"
        placeholder="Nhập tin nhắn tại đây"
        required
        autocomplete="off"
        />
      <button class="py-2 px-4 rounded-xl text-emerald-800 bg-emerald-50 shadow-md"><i class="fas fa-paper-plane"></i> Gửi</button>
    </form>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/5.1.0/qs.min.js"
  integrity="sha512-rjHuJkWaHSdq796S1Ov1tnGgXeQkEFTsrPW0VOjYUHU1b3Ey489/9n3FUSC0vfeaxTWjOVS8VLe1fLZ2kblcBg=="crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/main.js"></script>